
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _BASE      0
#define _SYMBOLS   1
#define _FUNCTIONS 2

/ {
        behaviors {
                hm_l: homerow_mods_left {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HM_L";
                        #binding-cells = <2>;
                        bindings = <&kp>, <&kp>;
                        flavor = "tap-preferred";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <175>;
                        hold-trigger-on-release;
                        /*
                        * Left-hand HRMs should only become holds when you press:
                        * - Any RIGHT-hand key positions (all rows)
                        * - Any THUMB key positions (both thumbs)
                        * This prevents same-hand rolls like A->S from turning into Ctrl/Alt/etc.
                        */
                        hold-trigger-key-positions = <
                                /* Right half (top, home, bottom) */
                                6 7 8 9 10 11
                                18 19 20 21 22 23
                                30 31 32 33 34 35

                                /* Thumbs (both halves) */
                                36 37 38
                                39 40 41
                        >;
                };

                hm_r: homerow_mods_right {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HM_R";
                        #binding-cells = <2>;
                        bindings = <&kp>, <&kp>;
                        flavor = "tap-preferred";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <175>;
                        hold-trigger-on-release;
                        /*
                         * Right-hand HRMs should only become holds when you press:
                         * - Any LEFT-hand key positions (all rows)
                         * - Any THUMB key positions (both thumbs)
                         */
                         hold-trigger-key-positions = <
                                 /* Left half (top, home, bottom) */
                                 0 1 2 3 4 5
                                 12 13 14 15 16 17
                                 24 25 26 27 28 29

                                 /* Thumbs (both halves) */
                                 36 37 38
                                 39 40 41
                         >;
                };
        };

        macros {
                screenshot: screenshot {
                        label = "screenshot";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_press &kp RGUI>
                            , <&macro_press &kp LSHFT>
                            , <&macro_tap &kp N4>
                            , <&macro_release &kp LSHFT>
                            , <&macro_release &kp RGUI>
                            ;
                };

                emojis: emojis {
                        label = "emojis";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_press &kp RGUI>
                            , <&macro_press &kp LCTRL>
                            , <&macro_tap &kp SPACE>
                            , <&macro_release &kp LCTRL>
                            , <&macro_release &kp RGUI>
                            ;
                };
        };

        combos {
                compatible = "zmk,combos";

                combo_esc {
                        timeout-ms = <50>;
                        key-positions = <20 21>;
                        bindings = <&kp ESC>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                base_layer {
                        display-name = "base";
                        bindings = <
   &none    &kp Q            &kp W           &kp E           &kp R            &kp T      &kp Y    &kp U            &kp I           &kp O           &kp P               &none
   &none    &hm_l LCTRL A    &hm_l LALT S    &hm_l LGUI D    &hm_l LSHFT F    &kp G      &kp H    &hm_r RSHFT J    &hm_r LGUI K    &hm_r RALT L    &hm_r RCTRL SEMI    &none
   &none    &kp Z            &kp X           &kp C           &kp V            &kp B      &kp N    &kp M            &kp COMMA       &kp DOT         &kp FSLH            &none

   &kp LGUI    &lt _SYMBOLS BSPC    &kp LSHFT      &mt RSHFT RET   &lt _FUNCTIONS SPACE   &mt RGUI ESC
                        >;
                };

                symbols_layer {
                        display-name = "symbols";
                        bindings = <
   &none    &kp TAB      &kp BSLH     &kp LBRC    &kp RBRC    &kp ASTRK      &kp KP_PLUS        &kp N1      &kp N2      &kp N3    &kp KP_MULTIPLY    &none
   &none    &kp APOS     &kp PIPE     &kp LPAR    &kp RPAR    &kp MINUS      &kp KP_SUBTRACT    &kp N4      &kp N5      &kp N6    &kp KP_DIVIDE      &none
   &none    &kp TILDE    &kp GRAVE    &kp LBKT    &kp RBKT    &kp UNDER      &kp KP_DOT         &kp N7      &kp N8      &kp N9    &kp KP_EQUAL       &none

   &none    &trans    &kp LSHFT      &kp RSHFT    &none    &kp N0
                        >;
                };

                functions_layer {
                        display-name = "functions";
                        bindings = <
   &none    &kp F1        &kp F2          &kp F3          &kp F4        &kp F5          &kp F6         &kp F7      &kp F8    &kp F9       &kp F10    &none
   &none    &none         &kp K_VOL_DN    &kp K_VOL_UP    &kp K_MUTE    &none           &kp LEFT       &kp DOWN    &kp UP    &kp RIGHT    &kp F11    &none
   &none    &bt BT_PRV    &bt BT_NXT      &bt BT_CLR      &trans        &caps_word      &screenshot    &emojis     &none     &none        &kp F12    &none

   &none    &none    &none      &none    &trans   &none
                        >;
                };
        };
};

